body, main, header {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;
  background: transparent;
}

body {
  min-width: 1210px;
}

a {
  text-decoration: none;
}

.header {
  background-color: #eee;
  padding-top: 55px;
  min-width: 1210px;
  margin-bottom: 80px;
}

.container,
.container-footer {
  width: 1174px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 20px;
  box-sizing: content-box;
}

.container-footer {
  position: relative;
}

.table-description {
  margin-top: 50px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 10px;
}

.main-header-logo,
.main-header-logo-unlink{
  width: 325px;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation-current {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 5px;
}

.site-navigation,
.user-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-navigation{
  width: 640px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;  
}

.site-navigation li {
  display: inline-block;
  margin-right: 42px;
}

.site-navigation li:last-child {
  margin-right: 0;
}

.user-navigation {
  display: inline-block;
  text-align: right;
}

.site-navigation a,
.user-navigation a {
  color: #000;
  font-weight: 500; 
  font-size: 16px;
  line-height: 30px;
}


.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
} 

.user-basket:before {
  display: inline-block;
  content: "\00A0";
  width: 16px;
  height: 15px;
  background-image: url('../img/cart-icon.svg');
  background-repeat: no-repeat;
  background-size: 16px 15px;
  background-position: 50% 50%;
  margin-right: 26px;
  vertical-align: sub;
}

.slide-list {
  background-color: #eee; 
  position: relative;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.services {
  width: 1100px;
  margin-bottom: 80px;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}
.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}


.button {
  display: block;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  border: none;
  line-height: 50px;
  font-weight: 500;
}

.button-red {
  background-color: #FB565A;
}

.button-red:hover,
.button-red:focus  {
  background-color: #e74246;
}

.button-red:active  {
  background-color: #d7373b;
  color: #e48789;
  box-shadow: inset 0 3px 0 0 #c13135;
}



.button-yellow {
  background-color: #EFC84A;
}
.button-yellow:hover,
.button-yellow:focus  {
  background-color: #eab534;
}

.button-yellow:active  {
  background-color: #e5a722;
  color: #edc47f;
  box-shadow: inset 0 3px 0 0 #ce961f;
}




.button-green {
  background-color: #00CA74;
}
.button-green:hover,
.button-green:focus  {
  background-color: #00bc6c;
}

.button-green:active  {
  background-color: #00aa62;
  color: #6ac293;
  box-shadow: inset 0 3px 0 0 #009958;
}


.button-slider {
  width: 240px;
}

.button-services {
  width: 160px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-item {
  width: 300px;
}

.service-item h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
}

.description {
  display: flex;
  justify-content: space-between;
  padding-top: 42px;
  border-top: 2px solid #eee;
  margin-bottom: 50px;
}

.list-description {
  list-style: none;
  padding: 0;
}

.list-description li {
  margin-bottom: 30px;
}

.list-description li::before {
  content: "\00A0";
  display: inline-block;  
  width: 25px;
  height: 10px;  
  border-bottom: 2px solid #fb565a;
  margin-right: 10px;
}

.description-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: #000;
}

.list-title {
  font-size: 16px;
  line-height: 24px;
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.table-description {
  margin-top: 30px;
}

.table-description td{
  padding-top: 13px;
  line-height: 18px;
}

.table-description-main-row td{
  font-size: 45px;
  font-weight: bold;
  color: #000;  
  line-height: 45px;
  padding-right: 15px;
}
sup {
  top: -12px;
}


.table-title {
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}


.description-content {
  width: 755px;
  padding-right: 40px;
}

.description-statistics {
  width: 360px;
}

.examples {
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  width: 1174px;
}

.examples-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 35px;
  padding-bottom: 20px;
}

.examples-list-item {
  width: 285px;
  text-align: center;

}

.examples-list-item:before {
  content: '\00A0';
  height: 52px;
  display: inline-block;
  vertical-align: top;
  border-right: 2px solid rgba(238, 238, 238, 1);
  margin-right: 40px;
}  
 
.examples-list-item:first-child:before {
  display: none;
}

.examples-list-link {
  opacity: 0.2;
}
.examples-list-link:hover {
  opacity: 1;
}

.examples-list-link:active {
  opacity: 0.1;
}

.social {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eee;
  margin-top: 40px;
  align-items: center
}

.social-slogan {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #000;
  width: 760px;
}

.social-slogan span {
  color: #444;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  align-items: center;
}

.social-list li {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-link {
  line-height: 34px;
  width: 78px;
  height: 78px;  
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center; 
}

.social-link:hover {
  background-color: #e74246;  
}

.social-link:active {
  background-color: #d7373b;  
}

.social-link:active path{
  fill: #e07275;
}

.title-inner {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000;
  padding-bottom: 107px;
  padding-top: 25px;
  text-align: center;
}

.content .container {
  display: flex;
  
}

.filters {
  width: 260px;
  padding: 0;
  vertical-align: top;
  margin-right: 140px;
}

.catalog-content {
  width: 760px;
  vertical-align: top;
}

.filters-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.filter-price {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 50px;
}

.filter-sliderbar {
  width: 260px;
  height: 80px;
  background-color: #f1f1f1;
  border-radius: 3px;
  margin-bottom: 15px;
}

.filter-range-text {
  display: flex;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}

.filter-range-text label {
  width: 50%;  
  font-size: 16px;
}

.max-price {
  text-align: right; 
}

.slider-value {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  color: #283136;
  border: none;
  text-align: center;
  border-radius: 5px;
  background-color: #f1f1f1;
  font-family: Roboto, Arial, sans-serif;
}
fieldset {
  padding: 0;
  border: none;
  margin: 0;
}

.sorter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}
.sorter-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.sorter-filters {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
  width: 360px;
}


.sorter .sorter-title{
  width: 400px;
}

.sorter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.arrow:before {
  border: 12px solid #ededed;
  border-right-width: 6px;
  border-right-color: transparent;
  border-left-width: 6px;
  border-left-color: transparent;
  content: "";
 
  display: inline-block;
}

.arrow-up,
.arrow-down {
  display: inline-block;
  border: 0px;
  background-color: white;
}

.arrow-up:hover:before,
.arrow-down:hover:before {
  border: 12px solid #a6a6a6;
  border-right-width: 6px;
  border-right-color: transparent;
  border-left-width: 6px;
  border-left-color: transparent;

}

.down-active:before,
.arrow-down:active:before,
.arrow-up:active:before {
  
  border: 12px solid #2f2b2c;
  border-right-width: 6px;
  border-right-color: transparent;
  border-left-width: 6px;
  border-left-color: transparent;  
}



.down-active.arrow-up:before,
.arrow-up:before,
.arrow-up:hover:before,
.arrow-up:active:before {  
  border-top: 0;
}

.down-active.arrow-down:before,
.arrow-down:before,
.arrow-down:hover:before,
.arrow-down:active:before {
  border-bottom: 0;
}

.sorter-item {
  display: inline-block;
  margin-right: 20px;
}
.sorter-item:last-child {
  margin-right: 0px;
}

.sorter-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
  opacity: 0.3;
}

.sorter-item a:hover {
  color: #000;
  opacity: 0.6;
}

.sorter-item-active a,
.sorter-item a:active {
  color: #000;
  opacity: 1;
}

.filter-features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-grid {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 10px;
}

.button-filters {
  width: 260px;
  height: 50px;
  background-color: #eeeeee;
  color: #000000;
  margin-top: 35px;
}


.filter-radio,
.filter-checkbox {
  display: none;
}

input[type=radio],
input[type=checkbox] {
  padding: 0;
}

.filter-radio + label,
.filter-checkbox + label {
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 15px;
  cursor: pointer;
}

.filter-radio + label:before {
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  content: "\00A0";
  vertical-align: bottom;
  background-image: url('../img/radio-off.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.4;
  margin-right: 10px;
}



.filter-radio + label:hover:before,
.filter-radio:checked + label:hover:before {
  opacity: 1; 
}


.filter-radio:checked + label:before {
  background-image: url('../img/radio-on.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.4;
  margin-right: 10px; 
}

.filter-radio + label:active:before,
.filter-radio:checked + label:active:before {
  opacity: 0.1; 
}

.filter-checkbox + label:before {
  display: inline-block;
  height: 25px;
  width: 25px;
  content: "\00A0";
  vertical-align: bottom;
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.4;
  margin-right: 10px;
}



.filter-checkbox + label:hover:before,
.filter-checkbox:checked + label:hover:before {
  opacity: 1; 
}


.filter-checkbox:checked + label:before {
  background-image: url('../img/checkbox-on.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.4;
  margin-right: 10px; 
}

.filter-checkbox + label:active:before,
.filter-checkbox:checked + label:active:before {
  opacity: 0.1; 
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  width: 360px;
  border-radius: 3px;
  border-top: 35px solid rgba(77, 77, 77, 0.17);
  margin-bottom: 25px;
}

.catalog-item:nth-child(2n) {
  margin-left: 30px;
}

.catalog-item:hover {
  border-top: 35px solid rgba(77, 77, 77, 1);
}

.item-popup {
  display: none;
  position: absolute;
  height: 231px;
  width: 360px;
  text-align: center;
  background-color: #eeeeee;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin-top: -237px;
  cursor: pointer;
}

.catalog-item:before {
  position: absolute;
  height: 17px;
  width: 17px;
  display: inline-block;
  content: "";
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 26px 0 0 0 #fff,
              52px 0 0 0 #fff;
  top: -26px;
  left: 15px;
}

.catalog-item:hover .item-popup{
  display: block;
}

.item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.item-popup p {
  display: block;
  width: 250px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.item-button {
  width: 200px; 
  background-color: #fb565a;
  margin: 0 auto;
  border: none;
  margin-top: 30px;
}

.item-button:hover {
  background-color: #e74246;
}

.item-button:active {
  background-color: #d7373b;
  color: #e48789;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.pagination-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 28px;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 12px 21px;
  color: #000000;
  background-color: #eeeeee;
  border-radius: 3px;
}


.button-filters:hover,
.pagination-item a:hover {
  background-color: #dfdfdf;
}

.button-filters:active,
.pagination-item a:active {
  background-color: #d5d5d5;
  color: #a9a9a9;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
  
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:active {
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
  box-shadow: none;
  color: #000000;
  box-sizing: border-box;
  padding: 9px 18px;
}

.pagination-item-next a  {
  padding: 12px 86px;
}

.footer {
  margin-top: 80px;
}

.map {
  height: 419px;
}


.feedback {
  display: block;
  width: 319px;
  position: absolute;
  background-color: #fff;
  box-sizing: border-box;
  top: -406px;
  left: 20px;
  padding-top: 33px;
  padding-right: 50px;
  padding-bottom: 45px;
  padding-left: 50px;
}



.item-popup:hover .item-title {
  color: #fb565a;
}

.item-popup:active .item-title {
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Всплывающая форма */

.modal {
  position: fixed;
  display: none;
  color: #000000;
  background-color: #fff;
  box-shadow:  0px 20px 40px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  z-index: 100;
}

.modal-login {
  width: 960px;
  padding: 70px 100px;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -295px;
  box-sizing: border-box;
}

.modal-close {
  position: absolute;
  top: 70px;
  right: 65px;
  width: 32px;
  height: 32px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close:active path{
  fill-opacity: 1;
}

.modal-login h2 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 23px;
}

.title-write-form {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;

}

.user-dates {
  display: flex;
  width: 760px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-message,
.login-icon-user,
.login-icon-mail {
  box-sizing: border-box;
  color: #a1a1a1;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  width: 360px;
  line-height: 15px;
  margin-top: 8px;
  padding: 15px;
}

.user-message{
  display: block;
  width: 760px;
}

.btn-send {
  padding: 0 84px;
  margin-top: 45px;
  margin-bottom: 10px;
}

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 55;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .2);
}


/** slider **/
.ui-slider{
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle{
  position: absolute;
  z-index: 2;
  width: 4px;
  height: 4px;
  border: 14px solid #ffffff;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgb(171, 171, 171, 0.3);
  top: 30px;
  left: 20px;
  -ms-touch-action: none;
  touch-action: none;

}

.ui-slider .ui-slider-range{
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

.ui-slider.ui-state-disabled .ui-slider-handle,.ui-slider.ui-state-disabled .ui-slider-range{
  filter: inherit;
}

.ui-slider-horizontal{
  height: 2px;
}

.ui-slider-horizontal .ui-slider-handle{
  top: -12px;
  margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range{
  top: 0;
  height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min{
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max{
  right: 0;
}
.ui-slider-vertical{
  width: .8em;
  height: 100px;
}
.ui-slider-vertical .ui-slider-handle{
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range{
  left: 0;
  width: 100%;
}
.ui-slider-vertical .ui-slider-range-min{
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max{
  top: 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor{
  cursor: text;
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor{
  cursor: pointer;
}

.ui-widget.ui-widget-content{
  border: none;
}
.ui-widget-content{
  width: 212px;
  top: 40px;
  margin: 0 auto;
  border: none;
  background: #d7dcde;
  color: #333;
  min-height: 2px;
}
.ui-widget-content a{
  color: #333;
}
.ui-widget-header{
  border: none;
  background: #00ca74;
  color: #333;
  font-weight: bold;
}
.ui-widget-header a{
  color: #333;
}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default,.ui-button,html .ui-button.ui-state-disabled:hover,html .ui-button.ui-state-disabled:active{
  border: 10px solid #fff;
  background: #ababab;
  font-weight: normal;
  color: #fff;
}
.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited,a.ui-button,a:link.ui-button, a:visited.ui-button,.ui-button{
  color: #454545;
  text-decoration: none;
}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus,.ui-button:hover,.ui-button:focus{
  border: 10px solid #fff;
  background: #ababab;
  font-weight: normal;
  color: #2b2b2b;
}
.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited,a.ui-button:hover,a.ui-button:focus{
  color: #2b2b2b;
  text-decoration: none;
}
.ui-visual-focus{
  box-shadow: 0 0 3px 1px rgb(171, 171, 171);
}
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active,a.ui-button:active,.ui-button:active,.ui-button.ui-state-active:hover{
  border: 10px solid #fff;
  background: #eeeeee;
  font-weight: normal;
  color: #fff;
}

